html, body {
  margin: 0;
}

body {
  min-height: 100dvh;
  background-color: #f9ebeb;
  cursor: none;
  display: grid;
  grid-template-areas: "page";
  color: #14142B;
}

main {
  grid-area: page;
  width: 20lvw;
  height: 20lvh;
  display: flex;
  align-items: center;
  justify-content: center;
  place-self: center;
}
main[data-barba-namespace=home] {
  background-color: #9fd1a4;
  color: #14142B;
}
main[data-barba-namespace=about] {
  background-color: #14142B;
  color: #ee7036;
}
main a {
  color: inherit;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

.coco-load-once {
  opacity: 0;
}
.coco-load-once-active {
  transition: opacity 1.2s ease 0.4s;
}
.coco-load-once-to {
  opacity: 1;
}

.coco-fade-leave {
  opacity: 1;
}
.coco-fade-leave-active {
  transition: opacity 0.4s ease;
}
.coco-fade-leave-to {
  opacity: 0;
}
.coco-fade-enter {
  opacity: 0;
}
.coco-fade-enter-active {
  transition: opacity 0.4s ease;
}
.coco-fade-enter-to {
  opacity: 1;
}

.coco-clip-leave {
  opacity: 1;
}
.coco-clip-leave-active {
  transition: opacity 0.72s ease;
}
.coco-clip-leave-to {
  opacity: 0;
}
.coco-clip-enter {
  -webkit-clip-path: circle(0);
          clip-path: circle(0);
}
.coco-clip-enter-active {
  transition: all 0.72s ease;
}
.coco-clip-enter-to {
  -webkit-clip-path: circle(75%);
          clip-path: circle(75%);
}

cursor-panel {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  z-index: 999;
  pointer-events: none;
}
cursor-panel coco-cursor {
  display: block;
  width: 12px;
  height: 12px;
  opacity: 0;
  transition: opacity 0.24s ease;
  position: relative;
}
cursor-panel coco-cursor:before, cursor-panel coco-cursor:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
  border-radius: 50%;
  transition: transform 0.16s ease-out;
}
cursor-panel coco-cursor:before {
  width: 100%;
  height: 100%;
  background-color: #f3a5a5;
  transform: translate(-50%, -50%) scale(1);
}
cursor-panel coco-cursor:after {
  width: 150%;
  height: 150%;
  border: 2px solid #ee7036;
  transform: translate(-50%, -50%) scale(0);
}
cursor-panel coco-cursor[visible] {
  opacity: 1;
}
cursor-panel coco-cursor[clickable]:before, cursor-panel coco-cursor[clickable]:after {
  transition: transform 0.24s ease-out;
}
cursor-panel coco-cursor[clickable]:before {
  transform: translate(-50%, -50%) scale(0);
}
cursor-panel coco-cursor[clickable]:after {
  transform: translate(-50%, -50%) scale(1);
}

[cursor-trigger] {
  padding: 15px;
}
